<!DOCTYPE html>
<html>
<head>
  <title>SimpleTweet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>
<body>

<!-- <%= link_to "Sign in with Twitter", "/auth/twitter/" %> -->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">
            <b>
              Simple Tweet
            </b>
          </a>
        
<!--	<% if session[:user_id] %> -->
		
		<ul class="nav"> 
      <li>
        <%= link_to "Timeline", "./timeline" %>
      </li>
      <li>
        <%= link_to "Mentions", "./mentions" %>
      </li>
      <li>
        <%= link_to "My Tweets", "./mytweets" %>
      </li>
      <li>
        <%= link_to "New Tweet", "./newtweet" %>
      </li>
    	<li>Signed in as <%= session[:user_id] =%></li>
  		<li><%= link_to "Sign out", "signout" %></li>
  		</ul>
<!-- 	<% else %> 
		<%= link_to "Sign in with Twitter", "/auth/twitter/" %>
	<% end %> -->
	</div>
      </div>
    </div>	
<%= yield %>

</body>
</html>
